@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: #ffebf5;
    color: #c586a5;
}

select,input,textArea{
    border: 1px solid #b5b5b5;
    outline-color: #c586a5;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}